.bg-white{
    background-color: #ffffff;
}
.white{
    color:#ffffff;
}

.bg-red{
    background-color: #c02836;
}

.red{
    color: #c02836;
}

.bg-black{
    background-color: #000;
}

.black{
    color:#000;
}
